@model IEnumerable<StatsDog.Models.Stats>

@{
  ViewBag.Title = "Index";
}

<br/>
<p>@Html.ActionLink("Summary", "Summary")</p>

<table class="table">
  <tr>
    <th>@Html.DisplayNameFor(model => model.ApplicationName)</th>
    <th>@Html.DisplayNameFor(model => model.ApplicationVersion)</th>
    <th>@Html.DisplayNameFor(model => model.SourceName)</th>
    <th>@Html.DisplayNameFor(model => model.EventName)</th>
    <th>@Html.DisplayNameFor(model => model.Timestamp)</th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>@Html.DisplayFor(modelItem => item.ApplicationName)</td>
      <td>@Html.DisplayFor(modelItem => item.ApplicationVersion)</td>
      <td>@Html.DisplayFor(modelItem => item.SourceName)</td>
      <td>@Html.DisplayFor(modelItem => item.EventName)</td>
      <td>@Html.DisplayFor(modelItem => item.Timestamp.ToString("yyyy-MM-dd HH-mm"))</td>
    </tr>
  }

</table>
